.navbar {
  width: 250px;
  padding: 10px;
  background-color: rgb(137, 219, 137);
  height: 100vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
}

.closed-view {
  width: 60px;
  padding: 10px;
  background-color: #abd29a93;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.logo-name {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  cursor: pointer;
}
.search-container {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  background-color: #1a171793;
  margin: 10px 0;
}
.search {
  height: 30px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border-width: 0px;
  outline: none;
  margin-left: 6px;
  font-weight: bold;
  font-size: 16px;
}
.search::placeholder {
  color: #ffffff;
}
.search-icon {
  color: #ffffff;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.nav-item:hover {
  background-color: #82d75b93;
  border-radius: 10px;
}
.nav-item-name {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 17px;
  margin-left: 10px;
}
.active-nav-item {
  background-color: #82d75b93;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
}
.unordered-nav-options {
  list-style-type: none;
  padding-left: 0;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-top: 15px;
}
.profile-name {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}
.profile-email {
  font-style: italic;
  font-size: 16px;
  margin-left: 10px;
}
.link{
  display: flex;
  text-decoration: none;
  color: green;
}